<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2"><%= customer.name %></h1>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active"><%= customer.name %></li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 180px"><b>Id:</b></div>
      <div class="col"><%= customer._id %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 180px"><b>Name:</b></div>
      <div class="col"><%= customer.name %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 180px"><b>Price:</b></div>
      <div class="col"><%= customer.price %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 180px"><b>Detail:</b></div>
      <div class="col"><%= customer.details %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 180px"><b>Production Date:</b></div>
      <div class="col"><%= customer.productionDate %></div>
    </div>
  </li>
</ul>
